@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
*{
    font-family: "Roboto", sans-serif;
}
body {
    background-image: url('img/fondo12.jpg');
    background-size: contain;
    background-repeat: repeat;
    background-position: bottom;
    color: #ffffff; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
img{
    max-width: 100%;
}
p{
    text-align: justify;
    font-size: 20px;
}
section {
    background:#999898ce; 
    padding: 0 5%;
}
h1{
    color: rgba(0, 0, 0, 0.801);
    font-size: 30px;
    font-family: "Nosifer", serif;
    background: linear-gradient(to bottom, #f5adad, #b60303);
    -webkit-background-clip: text;
    color: transparent;
}
#title{
    color: rgba(0, 0, 0, 0.801);
    font-size: 40px;
    font-family: "Special Elite", cursive;
    font-style: italic;
    background: linear-gradient(to right,#000000, #2D363B,#474747,#474747);
    -webkit-background-clip: text;
    color: transparent;
}

span{
    font-weight: bold;
    width: 100%;
}
#inicio{
    background-image: url(img/leopardo.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 202px -37px rgba(0,0,0,0.97);
    height: 70vh;
    position: relative;
}
#inicio >div{
    position: absolute;
    bottom:5%;
    left: 50%;
    transform: translateX(-50%);
}
#documental{
    padding: 2% 5%;
    position: relative;
}
#documental img{
    width: 10%;
}
#documental a{
    border: #b60303 solid 3px;
    padding: 1%;
    align-items: center;
    margin-left: 70%;
    font-weight: bold;
    color: white;
}


.card {
    width: 18rem; 
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 15px; 
    height: 100%; 
    background: linear-gradient(to bottom, #4b4b4b,#2D363B);
}
.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px; 
    
    color: rgb(255, 255, 255);
}


.card-text {
    font-size: 1rem; 
    margin-bottom: 10px;
    flex-grow: 1; 
    color: white;
}

.btn {
    margin-top: auto; 
    margin-bottom: 10px; 
}

.card-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.card img {
    object-fit: cover; 
    height: 180px; 
}
footer{
    background-color: #000000;
}
footer svg{
    fill: rgb(255, 255, 255); 
}
footer svg:hover {
    fill: yellow; 
    scale: 0.9;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
footer h2{
    font-size: 14px;
}
footer p{
    font-size: 16px;
}
footer a {
    position: relative; 
    text-decoration: none; 
}
footer a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0; 
    height: 2px; 
    background-color: rgb(255, 255, 255); 
    transition: width 0.3s ease-in-out; 
}

footer a:hover::after {
    width: 100%;
}

.btn{
    background-color:#ffffff00 ;
    color: #ffffff;
    border: #ffffff solid;
}
#leon:hover {
    background: linear-gradient(45deg, #F4C542, #6B4F1A);
    color: white;
}

#tigre:hover {
    background: linear-gradient(45deg, #FF7F32, #000000);
    color: white;
}

#jaguar:hover {
    background: linear-gradient(45deg, #FFB800, #000000);
    color: white;
}

#leopardo:hover {
    background: linear-gradient(45deg, #F1C232, #4B3621);
    color: white;
}

#leopardo-nieves:hover {
    background: linear-gradient(45deg, #FFFFFF, #B8B8B8);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#guepardo:hover {
    background: linear-gradient(45deg, #FFEB3B, #000000);
    color: white;
}

#lince:hover {
    background: linear-gradient(45deg, #A9A9A9, #F5F5DC);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#margay:hover {
    background: linear-gradient(45deg, #8B4513, #228B22);
    color: white;
}
#simios:hover {
    background: linear-gradient(45deg, #331605, #8A4B29); 
    color: white;
}

#zorro:hover {
    background: linear-gradient(45deg, #C4B8A6, #A9A9A9); 
    color: white;
}

#komodo:hover {
    background: linear-gradient(45deg, #2F4F4F, #6B8E23); 
    color: white;
}


